h1 {
    text-align: center;
    color: #C7CBD1;
    font-size: 96.5px;
    font-family: 'Inter', sans-serif;
  }

  body {
    color: #9BA0AA;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }

  #mainText {
      margin-top: auto;
    text-align: justify;
    float: inline-end;
  width: 50%;
    margin-right: auto;
    line-height: 1.5;
    border: 1px solid yellow;
  }

  #repPhoto {
      float: left;
    display: left;
    margin-left: 0px;
    width: 25%;
  }
  #mainText, #repPhoto{
    display: inline-block;
    
  }

  #pleaseChoose,
  #infoAboutMe {
    display: inline-block;
  }

  #pleaseChoose {
    float: right;
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 100px;
  }

  #infoAboutMe {
    margin: 25px 0px 50px 200px;
  }

  #about {
    margin-bottom: 20px;
  }

  #options {
    margin-top: -20px;
    margin-left: 20px;
  }

  html {
    background-color: #41485A;
  }

  footer {
    font-size: 14px;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
